﻿body
{
    font-family:Arial;
    font-size:12px;
    background-color: #D7E8F2;
}

#BodyContainer
{
    width: 100%;
    float: left;
    height: auto;
    background-color: #D7E8F2;
}
#InnerContainer
{
    width: 1000px;
    margin: 0 auto;
}

#HeaderContainer
{
    Width:998px;
    height:50px;
    float:left;
    border: 1px solid yellow;
    background-color: White;
}

#NavContainer
{
    width: 998px;
    float: left;
    border: 1px solid black;
    background-color: White;
    height: 50px;
}

#ContentContainer
{
    width: 998px;
    float: left;
    background-color: White;
    border: 1px solid blue;
    min-height: 600px;
}

#FooterContainer
{
    width: 998px;
    float: left;
    background-color: White;
    border: 1px solid red;
    min-height: 40px;
}
